<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}::Вся библиотека</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
    <h1>Библиотека</h1>
    </header>
    {% if not user.is_authenticated %}
        <div>
            <span title="Регистрация">
             <a href="{% url 'signup' %}">Регистрация</a>
        </span>
            <span title="Вход" >
            <a href="{% url 'login' %}">Вход</a>
        </span>
        </div>
    {% else %}
        <div>
            <a href="{% url 'profile' %}">{{ user.username }}</a>
        </div>
    {% endif %}
    <nav>
        <p><a href="{% url 'index' %}">Главная</a></p>
        <p><a href="{% url 'add' %}">Добавить</a></p>
        {% for g in gs %}
        <a href="{% url 'by_genre' g.pk %}">{{ g.name }}</a>
        {% endfor %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>