{% extends "base.html" %}
{% block title %}Удаление книги{% endblock %}
{% block content %}
<h1>Удаление книги</h1>
<div class="container" style="margin: 0; width: 40%">
    <div style="margin: 15px 0 0 0; border: 2px dashed gray; padding: 15px">
        <p><a href="{% url 'details' books.pk %}">{{ books.title }}</a></p>
        <p>{{ books.author.all|join:", " }}</p>
        <p>
            {% for g in books.genre.all %}
                <a href="{% url 'by_genre' g.pk %}">{{ g.name }}</a>
            {% endfor %}
        </p>
        <form method="post" enctype= "multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Удалить">
        </form>
    </div>
</div>
{% endblock %}