{% extends "base.html" %}
{% load static %}
{#{% load thumbnail %}#}
{% block content %}
    {% if cg %}
        <h2>Жанр: {{ cg }}</h2>
    {% endif %}
{% if bs|length == 0 %}
    <p>Пока ещё нет книг.</p>
{% else %}
    <div class="container" style="width: 70%">
        {% for b in bs %}
            <div style="margin: 20px; border: 2px dashed gray; padding: 15px">
                <div style="float: right">
                    <p><a href="{% url 'edit' b.pk %}">Редактировать</a></p>
                    <p><a href="{% url 'delete' b.pk %}">Удалить</a></p>
                </div>
                <p><a href="#">{{ b.title }}</a></p>
                <p>{{ b.author.all|join:", " }}</p>
                <p>
                    {% for g in b.genre.all %}
                        <a href="{% url 'by_genre' g.pk %}">{{ g.name }}</a>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}